/* ── DatePicker ────────────────────────────────────────────────────────────── */

.pui-datepicker {
  position: relative;
  display: inline-block;
}
.pui-datepicker__input {
  composes: pui-input;
}
